h1 {
    font-family: 'Golos Text', sans-serif;
    color:#380369;
    font-size: 36px;
    color: #FFB4B4;
    
}
.head-link{
    display:inline-block;
    height: 50px;
    width: 30%;
    padding-top: 25px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
#start-text {
    display: block;
    height: 500px;
    width: 500px;
    font-family: 'Ysabeau Office', sans-serif;
}
.profilbild {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    
}
.heading{
    margin-top: 50px;
}
header{
    background-color: rgb(196, 106, 184);
}
.content{
    margin-left: 10%;
    margin-top: 100px;
}
img{
    width: 300px;
    height: 300px;
    object-fit: cover; 
}
body{
    background-color: #B2A4FF;
    margin: 0; 
}
a{
    text-decoration: none;
}
a:link {
    color:white;

}
a:visited{
    color: white;
}
a:hover{
    color: #00ffff;
}
a:active{
    color: #a52a2a;
}
*{
    text-align: center;
}

ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    
}
h2{
    color: #FFDEB4;
   
}
h3{
    color: #FDF7C3;
}
.footer{
    color:white;
}




