h1 {
    font-family: 'Golos Text', sans-serif;
    color:#380369;
    font-size: 36px;
    color: #FFB4B4;
    
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: #020232;
}
.profilbild {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
body{
    background-color: #B2A4FF;
}
a{
    text-decoration: none;
}
a:link {
    color:#8a2be2;

}
a:visited{
    color: #008000;
}
a:hover{
    color: #00ffff;
}
a:active{
    color: #a52a2a;
}
*{
    text-align: center;
}

ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    
}
h2{
    color: #FFDEB4;
   
}
h3{
    color: #FDF7C3;
}




